@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Nabla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Covered+By+Your+Grace&family=Nabla&display=swap');

.contato-container{
    width: 100%;
    height: 770px;
    padding-top: 20px;
    background-color: #F8F7F1;
}
.inner-contato{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.top-contato{
    background-color: aqua;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.left-contato, .right-contato{
    width: 50%;
    height: 100%;
}
.left-contato{
    background-color: #F8F8F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-contato{
    width: 98%;
    height: 98%;
    background-color: #F8F8F0;
    border-radius: 8px;
}
.right-contato{
    background-color: #F8F8F0;
}
.right-contato h2{
    font-weight: lighter;
    color: rgb(75,175,71);
    font-family: 'Covered By Your Grace';
    text-align: start;
}
.right-contato h1{
    font-size: 35px;
    font-family: 'Azeret Mono';
    width: 100%;
    height: 80px;
    
}
.right-contato form{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row-contato{
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
    flex-direction: row;
}
.row-contato:nth-child(3){
    height: 170px;
}
.row-contato input{
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
}
.row-contato textarea{
    width: 100%;
    font-family: "Azeret Mono", monospace;
    height: 100%;
    resize: none;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
}

button, .btn-contato{
    font-family: "Azeret Mono", monospace;
    background-color: #4AAF47;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    cursor: pointer;

}

.btn-contato button:hover{
    background-color: #347531;
}

.bottom-contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

#soytech2{
    
    color: #fff;
    font-family: "Azeret Mono", monospace;
}

#soytech{
    transform: translateY(-30px);
    font-size: 35px;
    padding-left: 15px;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: lighter;
    font-family: "Covered By Your Grace", cursive;
    color: #91d487;
}

#contato{
    transform: translateY(-38px);
    font-size: 35px;
    padding-left: 15px;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: lighter;
    font-family: "Covered By Your Grace", cursive;
    color: #e2e87c;
}

#endereco{
    transform: translateY(-38px);
    font-size: 35px;
    padding-left: 15px;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: lighter;
    font-family: "Covered By Your Grace", cursive;
    color: #F0E0A2;
}
.card-contato{
    width: 300px;
    height: 200px;
    background-color: #ffbb00; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-contato:nth-child(1){
    background-color: #056b00;
}

.card-contato:nth-child(2){
    background-color: #a0a900;
}
.info-card-contato{
    line-height: 20px;
    /* transform: translateX(20px); */
    transform: translateY(-15px);
    font-size: 14px;
    font-family: "Azeret Mono", monospace;
    width: 90%;
    
}