@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Covered+By+Your+Grace&family=Nabla&display=swap');

.solucao-container{
    height: 580px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 40px;
}
.inner-solucao{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.inner-solucao h2 {
    text-align: center; 
    font-family: 'Covered by Your Grace', Arial, Helvetica, sans-serif;
    

}
.inner-solucao > h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.solucao-card-container{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.solucao-card{
    width: 220px;
    height: 350px;
    
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.inner-solucao-card{
    width: 190px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    background-color: #ffffff00;
    font-family: 'Manrope', sans-serif;
}